<a href="https://colab.research.google.com/github/LinaTobon/DataScienceFem/blob/master/FindSessionID.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [66]:
# importing libraries
import pandas as pd
import datetime

In [67]:
# reading files
master = pd.read_excel("/content/drive/MyDrive/TP/MASTER.xlsx",dtype = {'Call Start Time': str})
track = pd.read_excel("/content/drive/MyDrive/TP/SFTP_Track1.xlsx",dtype = {'Call Connect time': str})

In [68]:
master.head(2)

               Service         Phone  ... Transfer Target             Outcome
0  PCN Callback Manual  7.733926e+09  ...    8555330360.0  AGENT - CUST RPC 7
1  PCN Callback Manual  7.733926e+09  ...    8665566001.0                 NaN

[2 rows x 11 columns]

In [69]:
track.head(2)

                                      Recording Name  ... Session_ID
0  062221_8474777613_Giannini Bellizzi_Teleperfor...  ...        NaN
1     062321_3306991530_Carlos Velez_Teleperformance  ...        NaN

[2 rows x 11 columns]

In [70]:
track.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2996 entries, 0 to 2995
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Recording Name     2996 non-null   object
 1   Date               2996 non-null   datetime64[ns]
 2   TPV Phone          2996 non-null   float64
 3   LV Phone           2486 non-null   float64
 4   Agent              2996 non-null   object
 5   Count              2996 non-null   float64
 6   Call Connect time  2995 non-null   object
 7   Other Date         10 non-null     datetime64[ns]
 8   Other LOB          16 non-null     object
 9   TPV Time           1458 non-null   object
 10  Session_ID         855 non-null    object
dtypes: datetime64[ns](2), float64(3), object(6)
memory usage: 257.6+ KB

In [71]:
master.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13012 entries, 0 to 13011
Data columns (total 11 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Service              13012 non-null  object
 1   Phone                13012 non-null  float64
 2   Session              13012 non-null  object
 3   Date                 13012 non-null  datetime64[ns]
 4   Call Start Time      13012 non-null  object
 5   Call End Time        12995 non-null  object
 6   Source Agent         13012 non-null  object
 7   Transfer Start Time  13012 non-null  object
 8   Transfer End Time    13012 non-null  object
 9   Transfer Target      13012 non-null  object
 10  Outcome              11605 non-null  object
dtypes: datetime64[ns](1), float64(1), object(9)
memory usage: 1.1+ MB

In [72]:
# tracks without sessionid
track_ns = track[track['Session_ID'].isna()]

In [73]:
len(track_ns)

2141

In [74]:
def validate_register(phone,time):
  "validates if phone and time columns are porperly formatted"
  status='valid'
  if (len(phone) != 10):
    status = 'not valid phone'
  else:
    try:
       datetime.datetime.strptime(time, '%H:%M:%S')
    except:
      status = 'not valid time'
  return  status

In [75]:
def cleaning_key(df,phone,date,time):
  "gives format to phone,date and time columns"

  df = df.copy(deep=True)

  # converting phone column to string
  df[phone] = df[phone].fillna(0).astype(int).astype(str)

  # Keeping rows that contain  LV PHONE
  df= df[df[phone]!='0']
  
  # cleaning call time
  df['Call_time_hms'] = df[time].str[-8:]
  df['Date_str'] = df['Date'].dt.strftime("%Y-%m-%d")
  return df

In [76]:
# getting date together
def call_date(date,time,status):
  "concatenates the date and time of call in a single column"
  Call_Date = None
  if status =='valid':
    Call_Date = pd.to_datetime(date+ time, \
                                      format='%Y-%m-%d%H:%M:%S')
  return Call_Date

In [77]:
# applying functions to track_ns file

track_ns = cleaning_key(track_ns,'LV Phone','Date','Call Connect time')
track_ns['status'] = track_ns.apply(lambda row : validate_register(row['LV Phone'], row['Call_time_hms']), axis = 1)
track_ns['Call_Date'] = track_ns.apply(lambda row : call_date(row['Date_str'], row['Call_time_hms'],row['status']), axis = 1)

In [78]:
# number of rows in track_ns file
len(track_ns)

1670

In [79]:
# applying functions to master file
master = cleaning_key(master,'Phone','Date','Call Start Time')
master['status'] = master.apply(lambda row : validate_register(row['Phone'], row['Call_time_hms']), axis = 1)
master['Call_Date'] = master.apply(lambda row : call_date(row['Date_str'], row['Call_time_hms'],row['status']), axis = 1)

In [80]:
master.drop_duplicates(subset=['Phone','Call_Date'], keep="first",inplace=True)

In [81]:
len(master)

9391

In [82]:
#checking if phone numbers match

unique_phone_master = pd.DataFrame(set(master['Phone']),columns= ['Phone'])
#unique_phone_track = track_ns.drop_duplicates(subset=['LV Phone'])
unique_phone_track = pd.DataFrame(set(track_ns['LV Phone']),columns= ['LV Phone'])
test1 = pd.merge(unique_phone_master,unique_phone_track,left_on=['Phone'],\
         right_on=['LV Phone'], how='right',indicator=True)

In [83]:
len(unique_phone_track)

1388

In [84]:
len(test1[test1['_merge']=='right_only'])

753

In [85]:
len(test1[test1['_merge']=='both'])

635

In [86]:
#test1[test1['_merge']=='right_only'].to_csv("NotFoundPhones.csv")

In [87]:
match_phone_track = test1[test1['_merge']=='both']

In [88]:
match_phone_track.drop(columns={'_merge'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

753 registros de numero de telefono en track no aparecen en la master y 635  si aparecen en ambas

we are going to match track rows that have an existing number in the master file

In [90]:
match_phone_track.drop(columns=['Phone'],inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [91]:
match_track = match_phone_track.merge(track_ns,left_on=['LV Phone'],\
         right_on=['LV Phone'], how='right',indicator=True)

match_track.rename(columns={'_merge':'match'},inplace=True)

In [92]:
match_track = match_track[match_track['match']=='both']

In [93]:
match_track.reset_index(drop=True,inplace=True)

In [94]:
len(match_track)

785

In [95]:
match_track.loc[(match_track['LV Phone']=='9089639817') & (match_track['Date']=='2022-01-19')]

       LV Phone  ... match
434  9089639817  ...  both
435  9089639817  ...  both

[2 rows x 16 columns]

In [96]:
match_track.drop(columns={'match'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4913: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [97]:
master = master.loc[:,['Session','Phone','Date','Call Start Time','Call_Date','Date_str']]
master.reset_index(drop=True,inplace=True)

In [98]:
# joining two dataframes
master_track_ns = pd.merge(master,match_track,left_on=['Phone','Call_Date'],\
         right_on=['LV Phone','Call_Date'], how='right',indicator=True)

In [99]:
master_track_ns.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 785 entries, 0 to 784
Data columns (total 21 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Session            305 non-null    object
 1   Phone              305 non-null    object
 2   Date_x             305 non-null    datetime64[ns]
 3   Call Start Time    305 non-null    object
 4   Call_Date          746 non-null    datetime64[ns]
 5   Date_str_x         305 non-null    object
 6   LV Phone           785 non-null    object
 7   Recording Name     785 non-null    object
 8   Date_y             785 non-null    datetime64[ns]
 9   TPV Phone          785 non-null    float64
 10  Agent              785 non-null    object
 11  Count              785 non-null    float64
 12  Call Connect time  785 non-null    object
 13  Other Date         8 non-null      datetime64[ns]
 14  Other LOB          11 non-null     object
 15  TPV Time           39 non-null     object
 16  Session_ID         0 non-null      object
 17  Call_time_hms      785 non-null    object
 18  Date_str_y         785 non-null    object
 19  status             785 non-null    object
 20  _merge             785 non-null    category
dtypes: category(1), datetime64[ns](4), float64(2), object(14)
memory usage: 129.7+ KB

In [136]:
master_track_ns[master_track_ns['_merge']=='both'].to_excel("/content/drive/MyDrive/TP/Matched_sessions2.xlsx")

In [101]:
RIP = master_track_ns.loc[(master_track_ns['_merge']=='right_only') & (master_track_ns['status']=='valid')]
RIP.rename(columns = {'_merge':'match'},inplace=True)
RIP.reset_index(drop=True,inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:5047: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [102]:
RIP.head()

  Session Phone Date_x  ...  Date_str_y status       match
0     NaN   NaN    NaT  ...  2021-11-19  valid  right_only
1     NaN   NaN    NaT  ...  2021-11-22  valid  right_only
2     NaN   NaN    NaT  ...  2021-11-22  valid  right_only
3     NaN   NaN    NaT  ...  2021-11-22  valid  right_only
4     NaN   NaN    NaT  ...  2021-11-22  valid  right_only

[5 rows x 21 columns]

In [103]:
## FINDING SESSIONS

In [104]:
unique_session_master = master.drop_duplicates(subset=['Session'])

In [105]:
#RIP.sort_values(['Date_y','LV Phone',],inplace=True)
#iterable = RIP.groupby(['LV Phone','Date_y','Call_Date'],as_index= False).size()

In [106]:
#iterable

In [107]:
"""from pandas._libs.tslibs.timedeltas import delta_to_nanoseconds
for index, row in iterable.iterrows():
  if index==0:
    #print(row['LV Phone'], row['Date_str_y'])
      phone = row['LV Phone']
      date = row['Date_str_y']
      subset_master = master.loc[(master['Phone']==phone) & (master['Date']==date)]
      subset_track  = RIP.loc[(RIP['LV Phone']==phone) & (RIP['Date_y']==date)]
      time_series  = subset_master['Call Start Time']
      
      for delta in range(1,5):
        time_change = datetime.timedelta(seconds=delta)
        Call_time_delta = subset_track['Call_time_hms'] - time_change
        Call_time_delta.dt.strftime("%H:%M:%S")
        try: Call_time_delta== time_series
        except:
          print(Call_time_delta)
          print(time_series)
          continue
        else:
          print(Call_time_delta)
          print(master.loc[(master['Phone']==phone) & (master['Date']==date)&(master['Call Connect time']==Call_time_delta)])
          #break
      RIP.loc[(RIP['LV Phone']==phone) & (RIP['Date_y']==date)]"""

'from pandas._libs.tslibs.timedeltas import delta_to_nanoseconds\nfor index, row in iterable.iterrows():\n  if index==0:\n    #print(row[\'LV Phone\'], row[\'Date_str_y\'])\n      phone = row[\'LV Phone\']\n      date = row[\'Date_str_y\']\n      subset_master = master.loc[(master[\'Phone\']==phone) & (master[\'Date\']==date)]\n      subset_track  = RIP.loc[(RIP[\'LV Phone\']==phone) & (RIP[\'Date_y\']==date)]\n      time_series  = subset_master[\'Call Start Time\']\n      \n      for delta in range(1,5):\n        time_change = datetime.timedelta(seconds=delta)\n        Call_time_delta = subset_track[\'Call_time_hms\'] - time_change\n        Call_time_delta.dt.strftime("%H:%M:%S")\n        try: Call_time_delta== time_series\n        except:\n          print(Call_time_delta)\n          print(time_series)\n          continue\n        else:\n          print(Call_time_delta)\n          print(master.loc[(master[\'Phone\']==phone) & (master[\'Date\']==date)&(master[\'Call Connect time\']==Call_time_delta)])\n          #break\n      RIP.loc[(RIP[\'LV Phone\']==phone) & (RIP[\'Date_y\']==date)]'

In [108]:
"""from pandas._libs.tslibs.timedeltas import delta_to_nanoseconds
import datetime as dt
for index, row in iterable.iterrows():
  if index<5:
    #print(row['LV Phone'], row['Date_str_y'])
      phone = row['LV Phone']
      date = row['Date_y']
      subset_master = unique_session_master.loc[(master['Phone']==phone) & (master['Date']==date)]
      subset_track  = RIP.loc[(RIP['LV Phone']==phone) & (RIP['Date_y']==date)]
      time_master  = subset_master['Call_Date']
      time_track = subset_track['Call_Date']
      diff = abs(time_master.item() - time_track.item()).total_seconds()
      
      #print(diff)
      try: diff < 15
      except:
        continue
      else:
        session = master['Session'].loc[(master['Phone']==phone) & (master['Date']==date)]
        RIP.loc[(RIP['LV Phone']==phone) & (RIP['Date_y']==date), 'Session']= session.values
        print(RIP['Session'].loc[(RIP['LV Phone']==phone) & (RIP['Date_y']==date)])
          #break
          #RIP.loc[(RIP['LV Phone']==phone) & (RIP['Date_y']==date)]"""

SyntaxError: ignored

In [109]:
RIP.sort_values(['Date_y'],inplace=True)
iterable = RIP.groupby(['LV Phone','Date_y'],as_index= False).size()

/usr/local/lib/python3.7/dist-packages/pandas/util/_decorators.py:311: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return func(*args, **kwargs)

In [110]:
iterable

       LV Phone     Date_y  size
0    2018444872 2021-11-24     1
1    2149095615 2022-02-01     1
2    2178503238 2021-12-02     1
3    2178884306 2021-12-22     2
4    2195887963 2022-01-10     1
..          ...        ...   ...
360  9014469425 2022-01-24     1
361  9084051903 2021-12-17     1
362  9089639817 2021-12-27     1
363  9089639817 2022-01-19     2
364  9567773285 2022-01-25     1

[365 rows x 3 columns]

In [ ]:
"""from pandas._libs.tslibs.timedeltas import delta_to_nanoseconds
import datetime as dt
for index, row in iterable.iterrows():
  if index<5:
    #print(row['LV Phone'], row['Date_str_y'])
      phone = row['LV Phone']
      date = row['Date_y']
      iteraciones = row['size']
      subset_master = unique_session_master.loc[(master['Phone']==phone) & (master['Date']==date)]
      subset_track  = RIP.loc[(RIP['LV Phone']==phone) & (RIP['Date_y']==date)]
      #time_master  = subset_master['Call_Date']
      #time_track = subset_track['Call_Date']
      
      for idndx1, row1 in subset_track.iterrows():
        for idndx2, row2 in subset_master.iterrows():
          diff = abs(row1['Call_Date'] - row2['Call_Date']).total_seconds()
          #print(phone + ' difference '+str(diff))
          if diff < 15:
            #print(diff)
            #print(diff<15)
            session = master['Session'].loc[(master['Phone']==phone) & (master['Date']==date)]
            RIP.loc[(RIP['LV Phone']==phone) & (RIP['Date_y']==date), 'Session']= session.values
            #print(RIP['Session'].loc[(RIP['LV Phone']==phone) & (RIP['Date_y']==date)])
            break
          else:
            #print(diff)
            #print(diff<15)
            RIP.loc[(RIP['LV Phone']==phone) & (RIP['Date_y']==date), 'Session']= 'Not found'
            continue
          #RIP.loc[(RIP['LV Phone']==phone) & (RIP['Date_y']==date)]"""

In [125]:
from pandas._libs.tslibs.timedeltas import delta_to_nanoseconds
import datetime as dt
for index, row in iterable.iterrows():
  phone = row['LV Phone']
  date = row['Date_y']
  iteraciones = row['size']
  subset_master = unique_session_master.loc[(master['Phone']==phone) & (master['Date']==date)]
  subset_track  = RIP.loc[(RIP['LV Phone']==phone) & (RIP['Date_y']==date)]
  
  for indx1, row1 in subset_track.iterrows():
      for indx2, row2 in subset_master.iterrows():
        diff = abs(row1['Call_Date'] - row2['Call_Date']).total_seconds()
        #print(diff<15)
        #print(indx1)
        #print(indx2)
        if diff < 15:
          session = row2['Session']
          #print(session)
          RIP.loc[indx1, ['Session']] = session
          #print(RIP.loc[indx1, ['Session']])
          break
        else:
          #RIP.iloc[indx1]['Session'] = 'Not found'
          #RIP.loc[(RIP['LV Phone']==phone) & (RIP['Date_y']==date), 'Session']= 'Not found'
          continue

True
25
5307
U10FCFT619EC9D3
Session    U10FCFT619EC9D3
Name: 25, dtype: object
True
397
3643
U3894T61F9AB4E
Session    U3894T61F9AB4E
Name: 397, dtype: object
True
96
1322
U46ECT61A95AA1
Session    U46ECT61A95AA1
Name: 96, dtype: object
False
184
1836
False
184
1837
False
185
1836
False
185
1837
True
211
1924
U38EBT61DCAF50
Session    U38EBT61DCAF50
Name: 211, dtype: object
True
318
2830
U3620T61F1CB88
Session    U3620T61F1CB88
Name: 318, dtype: object
True
352
2944
U2362T61F2F1D0
Session    U2362T61F2F1D0
Name: 352, dtype: object
True
233
2145
U2493T61E866B9
Session    U2493T61E866B9
Name: 233, dtype: object
False
267
2286
True
267
2321
U1450T61EAE80B
Session    U1450T61EAE80B
Name: 267, dtype: object
True
353
3032
U839T61F40652
Session    U839T61F40652
Name: 353, dtype: object
True
168
1793
U2B01T61BB9B53
Session    U2B01T61BB9B53
Name: 168, dtype: object
False
340
2846
True
340
2847
U4F6DDT61F2EC29
Session    U4F6DDT61F2EC29
Name: 340, dtype: object
True
339
2846
U4F3D7T61F2EA93
Session    U4F3D7T61F2EA93
Name: 339, dtype: object
False
338
2846
False
338
2847
True
338
2927
U1EECT61F2E80E
Session    U1EECT61F2E80E
Name: 338, dtype: object
True
398
3498
U168CT61F96945
Session    U168CT61F96945
Name: 398, dtype: object
True
153
1655
U14DCT61B777DF
Session    U14DCT61B777DF
Name: 153, dtype: object
False
51
5469
False
51
5470
False
51
5472
False
51
5473
True
50
5469
U18B36T61A63F6E
Session    U18B36T61A63F6E
Name: 50, dtype: object
True
49
5469
U18B36T61A63F6E
Session    U18B36T61A63F6E
Name: 49, dtype: object
True
354
3133
U2C99T61F454C4
Session    U2C99T61F454C4
Name: 354, dtype: object
True
399
3411
U442T61F93DC2
Session    U442T61F93DC2
Name: 399, dtype: object
True
268
2288
U351D0T61EAFB83
Session    U351D0T61EAFB83
Name: 268, dtype: object
False
194
1839
False
195
1839
True
73
1131
U37848T61A7D02C
Session    U37848T61A7D02C
Name: 73, dtype: object
False
72
1131
False
72
1178
True
400
3468
UEF8T61F95B7A
Session    UEF8T61F95B7A
Name: 400, dtype: object
True
342
2850
U56439T61F316EA
Session    U56439T61F316EA
Name: 342, dtype: object
False
341
2850
True
341
2964
U2AB1T61F301E8
Session    U2AB1T61F301E8
Name: 341, dtype: object

/usr/local/lib/python3.7/dist-packages/pandas/core/indexing.py:1817: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(loc, value, pi)

True
301
2615
U1E9ET61F0433E
Session    U1E9ET61F0433E
Name: 301, dtype: object
False
234
2083
True
234
2175
U38E0T61E89486
Session    U38E0T61E89486
Name: 234, dtype: object
True
52
5494
UFB6T61A6481C
Session    UFB6T61A6481C
Name: 52, dtype: object
True
355
3018
U6B6F5T61F463DF
Session    U6B6F5T61F463DF
Name: 355, dtype: object
True
255
2239
U2126T61E9B2FF
Session    U2126T61E9B2FF
Name: 255, dtype: object
False
281
2384
True
281
2420
UDC7T61EECC6A
Session    UDC7T61EECC6A
Name: 281, dtype: object
True
145
1546
U45B8AT61B22F0C
Session    U45B8AT61B22F0C
Name: 145, dtype: object
False
53
5487
False
53
5488
True
53
5569
U3A26T61A69A9E
Session    U3A26T61A69A9E
Name: 53, dtype: object
False
74
1129
True
74
1169
U2875T61A7C5FE
Session    U2875T61A7C5FE
Name: 74, dtype: object
True
370
3156
U30CCT61F45FB9
Session    U30CCT61F45FB9
Name: 370, dtype: object
True
2
5183
U915FT619BFA45
Session    U915FT619BFA45
Name: 2, dtype: object
False
1
5183
True
1
5225
U2E26T619BF733
Session    U2E26T619BF733
Name: 1, dtype: object
False
201
1847
True
343
2854
U59BD6T61F32E0D
Session    U59BD6T61F32E0D
Name: 343, dtype: object
False
17
5265
True
16
5265
UE1ET619D0B26
Session    UE1ET619D0B26
Name: 16, dtype: object
True
373
3297
U2707T61F83BFD
Session    U2707T61F83BFD
Name: 373, dtype: object
True
223
2023
U2464T61E70E0D
Session    U2464T61E70E0D
Name: 223, dtype: object
True
269
2347
U225ET61EB05B0
Session    U225ET61EB05B0
Name: 269, dtype: object
True
97
1251
U158AT61A8F842
Session    U158AT61A8F842
Name: 97, dtype: object
False
98
1251
True
319
2831
U368AT61F1CC82
Session    U368AT61F1CC82
Name: 319, dtype: object
True
219
1974
UD45DT61E5D441
Session    UD45DT61E5D441
Name: 219, dtype: object
True
235
2079
U117E5T61E8892E
Session    U117E5T61E8892E
Name: 235, dtype: object
True
224
1992
U2627DT61E742D4
Session    U2627DT61E742D4
Name: 224, dtype: object
True
118
1363
UAA3T61AE27E4
Session    UAA3T61AE27E4
Name: 118, dtype: object
False
270
2329
True
270
2360
U2C84T61EB1CED
Session    U2C84T61EB1CED
Name: 270, dtype: object
True
320
2724
UA6BT61F169FF
Session    UA6BT61F169FF
Name: 320, dtype: object
True
54
5596
U4569T61A6B255
Session    U4569T61A6B255
Name: 54, dtype: object
True
154
1692
U37F8T61B7B357
Session    U37F8T61B7B357
Name: 154, dtype: object
False
374
3168
False
374
3209
False
374
3214
True
225
1987
U20841T61E71A29
Session    U20841T61E71A29
Name: 225, dtype: object
False
283
2383
False
283
2397
False
282
2383
False
282
2397
True
119
1358
UC0CAT61AE70FF
Session    UC0CAT61AE70FF
Name: 119, dtype: object
False
256
2189
True
212
1916
UE58T61DC4580
Session    UE58T61DC4580
Name: 212, dtype: object
True
120
1392
U2305T61AE57C6
Session    U2305T61AE57C6
Name: 120, dtype: object
False
258
2199
True
258
2200
U26AAAT61E9D74A
Session    U26AAAT61E9D74A
Name: 258, dtype: object
True
257
2199
U260AFT61E9D3CE
Session    U260AFT61E9D3CE
Name: 257, dtype: object
True
271
2283
U2C90DT61EABC91
Session    U2C90DT61EABC91
Name: 271, dtype: object
True
375
3172
U90C5T61F82974
Session    U90C5T61F82974
Name: 375, dtype: object
False
321
2696
False
321
2740
True
321
2763
U190FT61F18A8B
Session    U190FT61F18A8B
Name: 321, dtype: object
True
323
2696
U37D7DT61F19226
Session    U37D7DT61F19226
Name: 323, dtype: object
False
322
2696
False
322
2740
True
322
2763
U190FT61F18A8B
Session    U190FT61F18A8B
Name: 322, dtype: object
True
403
3459
UD7FT61F95797
Session    UD7FT61F95797
Name: 403, dtype: object
False
56
5483
True
56
5484
U22CD6T61A68523
Session    U22CD6T61A68523
Name: 56, dtype: object
True
55
5483
U220B2T61A68105
Session    U220B2T61A68105
Name: 55, dtype: object
True
376
3320
U2E7ET61F84AFE
Session    U2E7ET61F84AFE
Name: 376, dtype: object
False
236
2067
True
137
1532
U32AET61B119EB
Session    U32AET61B119EB
Name: 137, dtype: object
True
196
1840
UD985T61CA3311
Session    UD985T61CA3311
Name: 196, dtype: object
True
237
2096
UAECT61E82ECE
Session    UAECT61E82ECE
Name: 237, dtype: object
False
324
2716
True
138
1520
U22CDT61B0FAE1
Session    U22CDT61B0FAE1
Name: 138, dtype: object
True
404
3497
U16D7T61F9692E
Session    U16D7T61F9692E
Name: 404, dtype: object
True
27
5300
U816T619E4A6B
Session    U816T619E4A6B
Name: 27, dtype: object
False
26
5300
True
75
1144
U976T61A78BCB
Session    U976T61A78BCB
Name: 75, dtype: object
False
238
2068
False
4
5243
False
3
5243
True
325
2807
U2E74T61F1BA02
Session    U2E74T61F1BA02
Name: 325, dtype: object
True
326
2793
U242BT61F1A29D
Session    U242BT61F1A29D
Name: 326, dtype: object
True
302
2578
UC08T61F01C4D
Session    UC08T61F01C4D
Name: 302, dtype: object
True
121
1360
U9B4T61AE25B9
Session    U9B4T61AE25B9
Name: 121, dtype: object
True
377
3286
U2612T61F838CB
Session    U2612T61F838CB
Name: 377, dtype: object
True
259
2262
U3074T61E9D170
Session    U3074T61E9D170
Name: 259, dtype: object
True
0
5170
U34BBT61981861
Session    U34BBT61981861
Name: 0, dtype: object
True
226
1981
U15AD6T61E6D745
Session    U15AD6T61E6D745
Name: 226, dtype: object
True
57
5591
U42E9T61A6AC1E
Session    U42E9T61A6AC1E
Name: 57, dtype: object
False
38
5410
True
227
2016
U1CEAT61E6FF2F
Session    U1CEAT61E6FF2F
Name: 227, dtype: object
True
284
2507
U3374T61EF1CE5
Session    U3374T61EF1CE5
Name: 284, dtype: object
False
6
5200
True
5
5200
U152AT619BC5F5
Session    U152AT619BC5F5
Name: 5, dtype: object
True
40
5373
U3FC9T61A50422
Session    U3FC9T61A50422
Name: 40, dtype: object
False
39
5373
True
39
5395
U12B1T61A4FD1C
Session    U12B1T61A4FD1C
Name: 39, dtype: object
True
99
1301
U38D8T61A93BB5
Session    U38D8T61A93BB5
Name: 99, dtype: object
True
177
1813
U156AT61C0B85F
Session    U156AT61C0B85F
Name: 177, dtype: object
True
155
1634
UDDBBT61B7B056
Session    UDDBBT61B7B056
Name: 155, dtype: object
True
77
1126
U2F2ADT61A799F6
Session    U2F2ADT61A799F6
Name: 77, dtype: object
False
76
1126
True
239
2080
U11E96T61E88BDC
Session    U11E96T61E88BDC
Name: 239, dtype: object
True
41
5416
U2393T61A51C40
Session    U2393T61A51C40
Name: 41, dtype: object
True
378
3276
U2123T61F82F22
Session    U2123T61F82F22
Name: 378, dtype: object
True
327
2836
U3806T61F1D25F
Session    U3806T61F1D25F
Name: 327, dtype: object
True
7
5246
U3DA1T619C18C8
Session    U3DA1T619C18C8
Name: 7, dtype: object
True
78
1133
U39BE6T61A7E01F
Session    U39BE6T61A7E01F
Name: 78, dtype: object
False
79
1133
True
79
1134
U3A334T61A7E367
Session    U3A334T61A7E367
Name: 79, dtype: object
False
405
3375
True
406
3375
U150D3T61F9429D
Session    U150D3T61F9429D
Name: 406, dtype: object
True
128
1472
U370DT61AFCF0B
Session    U370DT61AFCF0B
Name: 128, dtype: object
False
272
2284
True
272
2302
U7C2T61EACA65
Session    U7C2T61EACA65
Name: 272, dtype: object
True
81
1128
U35627T61A7C197
Session    U35627T61A7C197
Name: 81, dtype: object
False
80
1128
True
80
1161
U1A44T61A7AD42
Session    U1A44T61A7AD42
Name: 80, dtype: object
True
240
2066
U1F38T61E82AF7
Session    U1F38T61E82AF7
Name: 240, dtype: object
True
139
1540
U3966T61B128C1
Session    U3966T61B128C1
Name: 139, dtype: object
True
407
3399
U20814T61F990E2
Session    U20814T61F990E2
Name: 407, dtype: object
True
273
2296
U555T61EAC27D
Session    U555T61EAC27D
Name: 273, dtype: object
True
372
3261
U1BF2T61F824C7
Session    U1BF2T61F824C7
Name: 372, dtype: object
True
178
1805
UF9FT61C0AC61
Session    UF9FT61C0AC61
Name: 178, dtype: object
True
216
1943
UEF6T61DEFFB8
Session    UEF6T61DEFFB8
Name: 216, dtype: object
True
241
2065
U1AB5T61E82901
Session    U1AB5T61E82901
Name: 241, dtype: object
True
274
2287
U34C51T61EAF934
Session    U34C51T61EAF934
Name: 274, dtype: object
True
146
1589
U3186T61B26CC1
Session    U3186T61B26CC1
Name: 146, dtype: object
True
228
1998
U2701CT61E74977
Session    U2701CT61E74977
Name: 228, dtype: object
False
285
2493
True
285
2506
U342BT61EF1CA6
Session    U342BT61EF1CA6
Name: 285, dtype: object
False
379
3236
False
379
3277
True
380
3232
U155BT61F81608
Session    U155BT61F81608
Name: 380, dtype: object
True
286
2518
U380BT61EF2604
Session    U380BT61EF2604
Name: 286, dtype: object
False
408
3378
True
408
3410
U3DBT61F93CF3
Session    U3DBT61F93CF3
Name: 408, dtype: object
True
409
3378
U15ED6T61F94D2B
Session    U15ED6T61F94D2B
Name: 409, dtype: object
True
100
1233
U4F58ET61A93811
Session    U4F58ET61A93811
Name: 100, dtype: object
True
276
2285
U31E45T61EAE81C
Session    U31E45T61EAE81C
Name: 276, dtype: object
False
275
2285
True
275
2314
U1141T61EAE190
Session    U1141T61EAE190
Name: 275, dtype: object
True
287
2481
U275BT61EF00AA
Session    U275BT61EF00AA
Name: 287, dtype: object
True
288
2403
U625T61EEB9A0
Session    U625T61EEB9A0
Name: 288, dtype: object
True
289
2513
U363FT61EF223A
Session    U363FT61EF223A
Name: 289, dtype: object
True
356
3125
U29CBT61F44FE7
Session    U29CBT61F44FE7
Name: 356, dtype: object
True
410
3385
U18450T61F96019
Session    U18450T61F96019
Name: 410, dtype: object
True
357
3012
U69147T61F4548F
Session    U69147T61F4548F
Name: 357, dtype: object
True
10
5187
U82CT619BA4D9
Session    U82CT619BA4D9
Name: 10, dtype: object
True
147
1600
U3B9BT61B27F28
Session    U3B9BT61B27F28
Name: 147, dtype: object
True
129
1467
U32DET61AFC6AC
Session    U32DET61AFC6AC
Name: 129, dtype: object
True
291
2389
U90C5T61EEEB31
Session    U90C5T61EEEB31
Name: 291, dtype: object
False
290
2389
True
290
2453
U1972T61EEE5CD
Session    U1972T61EEE5CD
Name: 290, dtype: object
True
329
2701
U3E9EDT61F1BED1
Session    U3E9EDT61F1BED1
Name: 329, dtype: object
False
328
2701
True
328
2803
U2D67T61F1B7C1
Session    U2D67T61F1B7C1
Name: 328, dtype: object
False
382
3165
True
382
3169
U4B90T61F81050
Session    U4B90T61F81050
Name: 382, dtype: object
True
381
3165
U398CT61F80896
Session    U398CT61F80896
Name: 381, dtype: object
True
383
3309
U2B3CT61F84481
Session    U2B3CT61F84481
Name: 383, dtype: object
True
11
5184
U9DBFT619C01F7
Session    U9DBFT619C01F7
Name: 11, dtype: object
True
292
2390
U920BT61EEEBA7
Session    U920BT61EEEBA7
Name: 292, dtype: object
True
304
2569
U88ET61F012B6
Session    U88ET61F012B6
Name: 304, dtype: object
True
213
1917
U79F7T61DC7C65
Session    U79F7T61DC7C65
Name: 213, dtype: object
False
59
5471
True
60
5471
U19656T61A6457D
Session    U19656T61A6457D
Name: 60, dtype: object
True
12
5186
U75ET619BA280
Session    U75ET619BA280
Name: 12, dtype: object
True
384
3314
U2CE3T61F8480D
Session    U2CE3T61F8480D
Name: 384, dtype: object
True
358
3020
U6D6CDT61F4747D
Session    U6D6CDT61F4747D
Name: 358, dtype: object
True
411
3492
U15D4T61F96817
Session    U15D4T61F96817
Name: 411, dtype: object
True
260
2198
U257DDT61E9D0EE
Session    U257DDT61E9D0EE
Name: 260, dtype: object
True
412
3388
U1956BT61F966D9
Session    U1956BT61F966D9
Name: 412, dtype: object
True
101
1265
U1BEDT61A9031E
Session    U1BEDT61A9031E
Name: 101, dtype: object
True
130
1475
U3753T61AFD0FA
Session    U3753T61AFD0FA
Name: 130, dtype: object
False
164
1738
False
164
1739
True
165
1738
U31DADT61BA2D45
Session    U31DADT61BA2D45
Name: 165, dtype: object
False
114
1355
True
114
1356
U23DBT61AA618D
Session    U23DBT61AA618D
Name: 114, dtype: object
False
359
3005
True
359
3026
U6CFT61F4018D
Session    U6CFT61F4018D
Name: 359, dtype: object
True
179
1822
U1A47T61C0C302
Session    U1A47T61C0C302
Name: 179, dtype: object
False
360
3008
True
360
3063
UF91T61F41829
Session    UF91T61F41829
Name: 360, dtype: object
True
413
3404
U23B75T61F9A5EB
Session    U23B75T61F9A5EB
Name: 413, dtype: object
False
414
3404
True
414
3407
U24873T61F9AB89
Session    U24873T61F9AB89
Name: 414, dtype: object
True
415
3434
U9C9T61F94ED3
Session    U9C9T61F94ED3
Name: 415, dtype: object
True
148
1547
U4DDBDT61B26101
Session    U4DDBDT61B26101
Name: 148, dtype: object
False
102
1269
True
102
1273
U219CT61A90D22
Session    U219CT61A90D22
Name: 102, dtype: object
True
361
3007
U5FDB2T61F416D0
Session    U5FDB2T61F416D0
Name: 361, dtype: object
True
140
1507
UE52T61B0D3E8
Session    UE52T61B0D3E8
Name: 140, dtype: object
True
131
1451
U1C6BT61AF9D7B
Session    U1C6BT61AF9D7B
Name: 131, dtype: object
True
345
2841
U45A7BT61F2B02C
Session    U45A7BT61F2B02C
Name: 345, dtype: object
False
344
2841
False
344
2879
True
416
3607
U2ED9T61F99B77
Session    U2ED9T61F99B77
Name: 416, dtype: object
True
156
1649
UEABT61B76B35
Session    UEABT61B76B35
Name: 156, dtype: object
False
151
1622
False
152
1622
True
141
1533
U3272T61B11C00
Session    U3272T61B11C00
Name: 141, dtype: object
True
417
3627
U34C6T61F9A613
Session    U34C6T61F9A613
Name: 417, dtype: object
False
160
1700
True
160
1701
U1ADC0T61B8D12F
Session    U1ADC0T61B8D12F
Name: 160, dtype: object
False
332
2698
False
332
2699
True
332
2700
U3E10FT61F1BB75
Session    U3E10FT61F1BB75
Name: 332, dtype: object
True
330
2698
U3D69CT61F1B805
Session    U3D69CT61F1B805
Name: 330, dtype: object
False
331
2698
True
331
2699
U3DE0CT61F1BA91
Session    U3DE0CT61F1BA91
Name: 331, dtype: object
True
293
2398
U4A4T61EEB47C
Session    U4A4T61EEB47C
Name: 293, dtype: object
True
277
2297
U5F0T61EAC500
Session    U5F0T61EAC500
Name: 277, dtype: object
True
42
5425
U28E8T61A5261D
Session    U28E8T61A5261D
Name: 42, dtype: object
True
103
1282
U28D3T61A91A5E
Session    U28D3T61A91A5E
Name: 103, dtype: object
False
261
2195
True
203
1891
U1131T61D31EF8
Session    U1131T61D31EF8
Name: 203, dtype: object
True
385
3205
UA41T61F7FDDE
Session    UA41T61F7FDDE
Name: 385, dtype: object
True
105
1231
U4A758T61A9111C
Session    U4A758T61A9111C
Name: 105, dtype: object
False
104
1231
True
104
1276
U22E1T61A90F3B
Session    U22E1T61A90F3B
Name: 104, dtype: object
True
418
3536
U2080T61F97CF4
Session    U2080T61F97CF4
Name: 418, dtype: object
True
362
3060
UF8DT61F417D5
Session    UF8DT61F417D5
Name: 362, dtype: object
True
242
2159
U3118T61E881D1
Session    U3118T61E881D1
Name: 242, dtype: object
True
419
3556
U254DT61F9855C
Session    U254DT61F9855C
Name: 419, dtype: object
True
29
5303
U8C5ET619E8E64
Session    U8C5ET619E8E64
Name: 29, dtype: object
True
363
3010
U61EFDT61F4232C
Session    U61EFDT61F4232C
Name: 363, dtype: object
True
43
5414
U2325T61A51963
Session    U2325T61A51963
Name: 43, dtype: object
True
106
1229
U45ED1T61A8F63B
Session    U45ED1T61A8F63B
Name: 106, dtype: object
False
107
1229
False
229
1986
False
229
1997
True
305
2590
U12E6T61F02A6E
Session    U12E6T61F02A6E
Name: 305, dtype: object
True
18
5299
U42F0T619D7C8B
Session    U42F0T619D7C8B
Name: 18, dtype: object
True
244
2082
U13C26T61E8995A
Session    U13C26T61E8995A
Name: 244, dtype: object
False
243
2082
True
245
2072
U81DCT61E85279
Session    U81DCT61E85279
Name: 245, dtype: object
True
214
1921
U948T61DC4D39
Session    U948T61DC4D39
Name: 214, dtype: object
True
61
5478
U1C81DT61A65BA7
Session    U1C81DT61A65BA7
Name: 61, dtype: object
False
303
2616
False
303
2665
True
303
2674
U3468T61F0738A
Session    U3468T61F0738A
Name: 303, dtype: object
False
82
1217
False
83
1217
False
262
2190
True
278
2373
U3569T61EB31EA
Session    U3569T61EB31EA
Name: 278, dtype: object
False
246
2070
True
246
2114
U1223T61E83EF9
Session    U1223T61E83EF9
Name: 246, dtype: object
True
247
2070
U5112T61E841E7
Session    U5112T61E841E7
Name: 247, dtype: object
False
62
5558
False
132
1442
True
217
1936
U90ET61DEF164
Session    U90ET61DEF164
Name: 217, dtype: object
True
248
2173
U3884T61E890A4
Session    U3884T61E890A4
Name: 248, dtype: object
False
30
5306
True
30
5353
U2F1BT619EA580
Session    U2F1BT619EA580
Name: 30, dtype: object
True
31
5306
UE5EET619EB9EC
Session    UE5EET619EB9EC
Name: 31, dtype: object
True
64
5479
U1D538T61A660BD
Session    U1D538T61A660BD
Name: 64, dtype: object
False
63
5479
True
63
5516
U1C10T61A65EAB
Session    U1C10T61A65EAB
Name: 63, dtype: object
True
387
3330
U304BT61F84EDF
Session    U304BT61F84EDF
Name: 387, dtype: object
True
133
1457
U239CT61AFAB27
Session    U239CT61AFAB27
Name: 133, dtype: object
False
388
3177
True
388
3293
U269AT61F83AD5
Session    U269AT61F83AD5
Name: 388, dtype: object
True
420
3629
U3402T61F9A68F
Session    U3402T61F9A68F
Name: 420, dtype: object
True
84
1174
U2B46T61A7CA84
Session    U2B46T61A7CA84
Name: 84, dtype: object
True
389
3187
U496T61F7EEA0
Session    U496T61F7EEA0
Name: 389, dtype: object
True
306
2655
U2CA9T61F06357
Session    U2CA9T61F06357
Name: 306, dtype: object
True
44
5459
U4112T61A55402
Session    U4112T61A55402
Name: 44, dtype: object
True
307
2556
U287EFT61F0721B
Session    U287EFT61F0721B
Name: 307, dtype: object
False
134
1425
False
401
3387
True
401
3480
U1278T61F96183
Session    U1278T61F96183
Name: 401, dtype: object
True
402
3387
U1898ET61F96258
Session    U1898ET61F96258
Name: 402, dtype: object
True
279
2357
U2A01T61EB15B0
Session    U2A01T61EB15B0
Name: 279, dtype: object
True
13
5220
U2B29T619BF1BC
Session    U2B29T619BF1BC
Name: 13, dtype: object
True
135
1448
U1783T61AF9480
Session    U1783T61AF9480
Name: 135, dtype: object
True
85
1206
U3C8FT61A7EC7F
Session    U3C8FT61A7EC7F
Name: 85, dtype: object
False
197
1846
True
32
5304
UC379T619EACD4
Session    UC379T619EACD4
Name: 32, dtype: object
True
86
1136
U3D192T61A7F5B1
Session    U3D192T61A7F5B1
Name: 86, dtype: object
True
308
2629
U23D3T61F04F66
Session    U23D3T61F04F66
Name: 308, dtype: object
False
230
1988
True
333
2821
U325DT61F1C29F
Session    U325DT61F1C29F
Name: 333, dtype: object
False
46
5392
False
45
5392
False
220
1977
True
19
5252
U1847ET619D2ADF
Session    U1847ET619D2ADF
Name: 19, dtype: object
True
334
2762
U18C6T61F189E8
Session    U18C6T61F189E8
Name: 334, dtype: object
True
364
3013
U691B6T61F454F3
Session    U691B6T61F454F3
Name: 364, dtype: object
False
366
3013
False
366
3015
True
366
3017
U6B00AT61F46105
Session    U6B00AT61F46105
Name: 366, dtype: object
False
365
3013
True
365
3015
U69F64T61F45A94
Session    U69F64T61F45A94
Name: 365, dtype: object
True
421
3442
UA8CT61F95125
Session    UA8CT61F95125
Name: 421, dtype: object
True
215
1926
UF0CT61DDADB7
Session    UF0CT61DDADB7
Name: 215, dtype: object
True
249
2107
UEC1T61E837D0
Session    UEC1T61E837D0
Name: 249, dtype: object
False
311
2549
True
311
2550
U1FFABT61F03C46
Session    U1FFABT61F03C46
Name: 311, dtype: object
True
310
2549
U1F2CET61F037BE
Session    U1F2CET61F037BE
Name: 310, dtype: object
False
309
2549
False
309
2550
True
309
2600
U1659T61F0331B
Session    U1659T61F0331B
Name: 309, dtype: object
True
367
3014
U69AFAT61F458DD
Session    U69AFAT61F458DD
Name: 367, dtype: object
False
21
5250
True
21
5251
U15D0CT619D1A75
Session    U15D0CT619D1A75
Name: 21, dtype: object
True
20
5250
U13ABFT619D0266
Session    U13ABFT619D0266
Name: 20, dtype: object
True
346
2917
U19D2T61F2DD44
Session    U19D2T61F2DD44
Name: 346, dtype: object
True
250
2162
U32ABT61E88529
Session    U32ABT61E88529
Name: 250, dtype: object
False
251
2076
False
251
2146
True
251
2147
U2540T61E867F9
Session    U2540T61E867F9
Name: 251, dtype: object
False
122
1385
False
122
1399
True
122
1407
U2E66T61AE6EDC
Session    U2E66T61AE6EDC
Name: 122, dtype: object
True
391
3218
UE36T61F80713
Session    UE36T61F80713
Name: 391, dtype: object
True
87
1171
U29E2T61A7C7FE
Session    U29E2T61A7C7FE
Name: 87, dtype: object
False
190
1829
True
88
1192
U35D9T61A7DF50
Session    U35D9T61A7DF50
Name: 88, dtype: object
True
294
2488
U2ADDT61EF0A65
Session    U2ADDT61EF0A65
Name: 294, dtype: object
True
149
1604
U3D6DT61B286C6
Session    U3D6DT61B286C6
Name: 149, dtype: object
True
108
1238
U754T61A8D8A2
Session    U754T61A8D8A2
Name: 108, dtype: object
True
312
2602
U17C0T61F03500
Session    U17C0T61F03500
Name: 312, dtype: object
False
422
3403
True
422
3582
U2A2BT61F98FC2
Session    U2A2BT61F98FC2
Name: 422, dtype: object
True
423
3403
U22FA5T61F9A193
Session    U22FA5T61F9A193
Name: 423, dtype: object
True
33
5327
U13A8T619E6AB1
Session    U13A8T619E6AB1
Name: 33, dtype: object
True
166
1740
U3A014T61BA6237
Session    U3A014T61BA6237
Name: 166, dtype: object
False
167
1740
True
167
1741
U3AD18T61BA669A
Session    U3AD18T61BA669A
Name: 167, dtype: object
True
231
1983
U16CCET61E6E030
Session    U16CCET61E6E030
Name: 231, dtype: object
True
157
1657
U15D6T61B77A66
Session    U15D6T61B77A66
Name: 157, dtype: object
True
22
5253

In [126]:
RIP.loc[(RIP['LV Phone']=='2242501148') & (RIP['Date_y']=='2022-01-21')]

            Session Phone Date_x  ...  Date_str_y status       match
267  U1450T61EAE80B   NaN    NaT  ...  2022-01-21  valid  right_only

[1 rows x 21 columns]

In [137]:
RIP.to_excel("/content/drive/MyDrive/TP/Matched_Sessions.xlsx")

In [130]:
#RIP.iloc[1]['Session']
RIP.loc[318]

Session                                                 U3620T61F1CB88
Phone                                                              NaN
Date_x                                                             NaT
Call Start Time                                                    NaN
Call_Date                                          2022-01-26 17:30:33
Date_str_x                                                         NaN
LV Phone                                                    2242011058
Recording Name       012622_2242011058_Jaime Mejia Ardila_Teleperfo...
Date_y                                             2022-01-26 00:00:00
TPV Phone                                                 2242011058.0
Agent                                               Jaime Mejia Ardila
Count                                                              0.0
Call Connect time                                             17:30:33
Other Date                                                         NaT
Other LOB                                                          NaN
TPV Time                                                           NaN
Session_ID                                                         NaN
Call_time_hms                                                 17:30:33
Date_str_y                                                  2022-01-26
status                                                           valid
match                                                       right_only
Name: 318, dtype: object

In [178]:
RIP['Session'].loc[(RIP['Phone']==phone) & (RIP['Date_y']==date)]

Series([], Name: Session, dtype: object)

In [150]:
RIP.loc[(RIP['LV Phone']==phone) & (RIP['Date_y']==date)]

   Session Phone Date_x  ...  Date_str_y status       match
25     NaN   NaN    NaT  ...  2021-11-24  valid  right_only

[1 rows x 21 columns]

In [248]:
subset_track

   Session Phone Date_x Call Start Time  ...  Date_str_y status       match NSession
25       1   NaN    NaT             NaN  ...  2021-11-24  valid  right_only        1

[1 rows x 22 columns]